* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.price-tables {
  display: flex;
  justify-content: space-around;
  height: 788px;
  width: 1170px;
  margin: 0;
  padding: 0;
}

.price-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 380px;
  height: 770px;
  background-color: #334247;
  color: white;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
.price-card__title {
  text-align: center;
  margin: 30px 140px 0px 140px;
  height: 64px;
}
.price-card__title-header {
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
}
.price-card__title-subtitle {
  margin: 0;
  font-weight: 400px;
  font-size: 22px;
}
.price-card__price {
  display: flex;
  justify-content: center;
  width: 380px;
  height: 104px;
  margin: 36px 0px 39px 0px;
}
.price-card__price span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  padding: 18px 110px 19px;
  height: 67px;
  text-align: center;
}
.price-card__description {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  width: 327px;
  margin-bottom: 42px;
  height: 36px;
}
.price-card__options-list {
  width: 380px;
  list-style-type: none;
  margin: 0px 0px 37px 0px;
  padding: 0;
}
.price-card__order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 155px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
  margin-bottom: 42px;
  border-radius: 20px;
  border: none;
  color: white;
}

.price-card__item {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0px;
  padding: 0px;
  padding-left: 22px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}
.price-card__item:nth-child(odd) {
  background: #2A3438;
}
.price-card__item_checkbox {
  height: 13px;
  width: 15px;
}
.price-card__item__text {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 18px;
  margin-left: 21px;
  color: white;
}

.basic .money-color,
.basic .btn-color {
  background-color: #5BB189;
}
.basic .price-card__item_checkbox {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}

.business {
  margin-left: 15px;
  margin-right: 15px;
}
.business .money-color,
.business .btn-color {
  background-color: #3A6BA5;
}
.business .price-card__item_checkbox {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}

.webshop .money-color,
.webshop .btn-color {
  background-color: #EC632A;
}
.webshop .price-card__item_checkbox {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}

.popular {
  position: relative;
  overflow: hidden;
}
.popular::before {
  content: "popular";
  position: absolute;
  height: 25px;
  width: 147px;
  right: -30px;
  top: 30px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  transform: rotate(45deg);
  color: white;
  background-color: #DC3F45;
}

/*# sourceMappingURL=style.css.map */
