@import 'variables.scss';
* {
    box-sizing: border-box;
    font-family: $basic-fonts-family;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $body-color;
}

.price-tables {
    display: flex;
    justify-content: space-around;
    height: 788px;
    width: 1170px;
    margin: 0;
    padding: 0;
    padding-top: 18px;
}

.price-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 380px;
    height: 770px;
    background-color: $price-card-color;
    color: white;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    &__title {
        text-align: center;
        margin: 30px 140px 0px 140px;
        height: 64px;
    }
    &__title-header {
        font-size: 35px;
        line-height: 43px;
        margin: 0;
        font-style: normal;
        font-weight: bold;
    }
    &__title-subtitle {
        font-weight: 400;
        margin: 0;
    }
    &__price {
        display: flex;
        justify-content: center;
        width: 380px;
        height: 104px;
        margin: 36px 0px 39px 0px;
        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 67px;
            padding: 18px 110px 19px;
            height: 67px;
            text-align: center;
        }
    }
    &__description {
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        width: 327px;
        margin-bottom: 42px;
        height: 36px;
    }
    &__options-list {
        width: 380px;
        list-style-type: none;
        margin: 0px 0px 37px 0px;
        padding: 0;
    }
    &__order-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 155px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 17px;
        text-align: center;
        margin-bottom: 42px;
        border-radius: 20px;
        border: none;
        color: white;
    }
}

.price-card__item {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px;
    padding: 0px;
    padding-left: 22px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    // background: #1F3D63;
    &:nth-child(odd) {
        background: #2A3438;
    }
    &_checkbox {
        height: 13px;
        width: 15px;
    }
    &__text {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 18px;
        margin-left: 21px;
        color: white;
    }
}

.basic {
    .money-color,
    .btn-color {
        background-color: $basic-green;
    }
    .price-card__item_checkbox {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }
}

.business {
    .money-color,
    .btn-color {
        background-color: $business-blue;
    }
    .price-card__item_checkbox {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }
}

.webshop {
    .money-color,
    .btn-color {
        background-color: $webshop-orange;
    }
    .price-card__item_checkbox {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
}

.popular {
    position: relative;
    overflow: hidden;
    &::before {
        content: 'popular';
        position: absolute;
        height: 25px;
        width: 147px;
        right: -30px;
        top: 30px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        transform: rotate(45deg);
        color: white;
        background-color: #DC3F45;
    }
}